/*  */
.cover{
  background-image: url('./images/6282c893b9b3495c8d6dc73c_tilted-results-round3-bg.svg');
  /* Specify additional background properties as needed */
  background-size: cover; /* Cover the entire background */
  background-position: 100% 5%, 0 0; /* Center the background image */
  background-repeat: no-repeat,; /* Do not repeat the background image */
  width: 100%;
  height: 500px;
    background-repeat: no-repeat, repeat;
    background-size: 775px, auto;
    background-attachment: scroll, scroll;
}
.cover-bg{
  
  background-color:#7540EE;
  justify-content: center;
  align-items: center;
  min-height: 650px;
  padding: 90px 5%;
  display: flex;
  position: relative;
}
.cover-block{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  min-height: 400px;
  display: flex;
}
.cover-block h1{
  color: #fff;
  text-align: left;
  align-self: flex-start;
  margin-top: 0;
  margin-bottom: 10px;
  padding-right: 20px;
  font-size: 50px;
  line-height:56px;
  font-weight: 700;
}
.cover-block p{
color:#DDDDDD;
text-align: left;
margin-bottom: 10px;
font-family: Cabin, sans-serif;
font-size: 17px;
line-height: 24px;
font-weight: 400;
}
  .container-header{
    width: 90%;
    margin: 0 auto;
  }
  .button {
    font-family: 'Cabin', sans-serif;
    font-style: normal;
    font-weight: 700;
    background-color: #0A1F44;
    font-size: 12px;
    border-radius: 20px;
    padding:10px 30px;
    line-height: 20px;
    /* Add any additional styling you need */
  }
  /* Apply font family and weight to both paragraphs and headings */
body {
    font-family: 'Cabin', sans-serif;
    font-style: normal;
  
    
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo img {
  max-width: 200px; /* Adjust logo size */
}

.nav-links ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-links li {
  margin-right: 15px;
}

.nav-links li:last-child {
  margin-right: 0;
}

.nav-links a {
  text-decoration: none;
}

.sign-up-btn {
  background-color: #7540EE;
  color:white;
  padding: 10px 20px;
  border-radius: 5px;
}

/* Media query for responsive design */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .logo img {
    max-width: 100px; /* Adjust logo size */
  }
  .nav-links {
    margin-top: 20px;
  }
  
  .nav-links ul {
    flex-direction: column;
  }
  
  .nav-links li {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.hero {
  background-image: url("./RankedVote_ Online Ranked-Choice Voting Polls_files/6282c89…_tilted-results-round3-bg.svg"), url("./RankedVote_ Online Ranked-Choice Voting Polls_files/5f8599c…_diagonal-lines-bg.svg");
  background-position: 100% 5%, 0 0;
  background-repeat: no-repeat, repeat;
  background-size: 775px, auto;
  background-attachment: scroll, scroll;
}

.clients {
  justify-content: space-between;
  align-items: center;
  max-width: 90%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
}

.clients img {
  text-align: center;
  order: 0;
  align-self: center;
  width: 200px;
  height: 120px;
  padding: 25px;
  display: inline-block;
}




.demos{
  background-color: #F5F7FD;
  height: 150px;
  border: 1px  solid gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.demos-content{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background-color: #FFFAF1;
  padding: 30px 10px;
  border: 1px solid orange;
  border-radius: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: rgb(51, 51, 51);
}
.features{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  margin-bottom: 20px;
}
.items{
  border: 1px solid transparent;
  margin: 5px;
  padding: 5px;
  transition: box-shadow 0.3s ease;
  border-radius: 10px;
}
.items h1{
  color: rgb(46, 50, 128);
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  margin-bottom: 10px;
}
.items p{
  color: rgb(78, 93, 120);
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}
.items img{
  display: inline;
  width: 70px;
  border: 1px solid rgb(203, 194, 194);
  transition: box-shadow 0.3s ease;
  border-radius: 50px;
  margin-bottom: 10px;
}
.items:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); /* Increase shadow effect on hover */
}
.slider-container {
    width: 100%;
    overflow: hidden;
  }
  
  .slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    width: 100%;
  }
  
  .slide img {
    width: 100%;
    height: auto;
  }
  
  .text {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
  }
  
.vertical-line {
  background-color: #d8dcee;
  width: 1px;
  min-height: 55px;
  margin: 25px auto;
}
.ranked-para{
    font-family: 'Cabin', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: rgb(78, 93, 120);
    font-size: 18px;
    line-height: 25px;
}
.ranked-p {
    font-family: 'Cabin', sans-serif;
    font-style: normal;
    font-weight: 700;
    color: rgb(138, 148, 166);
    font-size: 14px;
    line-height: 25px;
}
.ranked-heading {
    font-family: 'Cabin', sans-serif;
    font-style: normal;
    font-weight: 700;
    color: rgb(10, 31, 68);
    font-size: 38px;
    line-height: 42px;
}
.voting-process{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
/* Apply font color and size to paragraphs */
.pool,
.counter{
    height: 300px;
}
.poll-p{
    color:white;
    font-size: 13px;
    line-height: 25px;
    font-weight: 700;
}

/* Apply font color, size, and line height to headings */
.poll-h1 {
    color: white;
    font-size: 42px;
    line-height: 48px;
    font-weight: 700;
}
footer{
    height: 400px;
}
footer p{
    font-family: 'Cabin', sans-serif;
    font-style: normal;
    font-weight: 500;
    color: rgb(10, 31, 68);
    font-size: 15px;
    line-height: 20px;
}
/* Responsive styles */
@media (max-width: 768px) {
  .cover-container{
    flex-direction: column;
   position: static;
    display: flex;
  }
  .clients{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  .clients img {
    justify-content: center;
        align-items: center;
        width: 50%;
        display: flex;/* Adjust the width for medium-sized screens */
  }
  .demos{
    height: 250px;
  }
  .demos-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    
  }
  .demos-content h1{
    margin-bottom: 20px;
  }
  .features{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-bottom: 20px;
  }
  .pool{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .ranked-choice{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: justify;
  }
  .voting-process{
       display: grid;
    grid-template-columns: repeat(2,1fr);
    
  }
}
@media (max-width: 480px) {
  .clients{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
  .clients img {
    width: 50%; /* Adjust the width for small-sized screens */
  }
  .demos-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    }
  .features{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin-bottom: 20px;
  }
  .counter{
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .pool{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .ranked-choice{
    display: flex;
    flex-direction: column;
    text-align: justify;
  }
  .voting-process{
    display: grid;
 grid-template-columns: repeat(1,1fr);
}
}